alias gs='git status'
alias gd='git diff'
alias tf='terraform'
alias tfa='chmod 600 ssh_key && ssh-add ssh_key && terraform apply --auto-approve'
alias tfd='terraform destroy --auto-approve'
alias tfp='terraform init || terraform providers && terraform validate && terraform plan'
alias tfr='terraform destroy --auto-approve;chmod 600 ssh_key && ssh-add ssh_key && terraform apply --auto-approve'
alias tfl='terraform state list'
alias k='kubectl'
alias tt='cd tests; go test -v -parallel=10 -timeout=80m'
# expects AGE_ variables to be set, see .variables and .rcs
alias es='encrypt_secrets' # see .functions
alias ds='decrypt_secrets' # see .functions
alias ef='encrypt_file' # see .functions
