if [ -z "${NIX_ENV_LOADED}" ]; then
	echo "entering environment..."
  export NIX_ENV_LOADED=$(pwd)

  nix develop \
    --ignore-environment \
    --extra-experimental-features nix-command \
    --extra-experimental-features flakes \
    --keep HOME \
    --keep SSH_AUTH_SOCK \
    --keep GITHUB_TOKEN \
    --keep AWS_ROLE \
    --keep AWS_REGION \
    --keep AWS_DEFAULT_REGION \
    --keep AWS_ACCESS_KEY_ID \
    --keep AWS_SECRET_ACCESS_KEY \
    --keep AWS_SESSION_TOKEN \
    --keep TERM \
    --keep NIX_ENV_LOADED \
    $(pwd) || unset NIX_ENV_LOADED;

else
	echo "setting up dev environment..."

	source .functions
	source .variables
	source .rcs
	source .aliases


	if [ -z "$SSH_AUTH_SOCK" ]; then eval $(ssh-agent -s); ssh-add; fi

	if [ -z "$(env | grep 'AGE_')" ]; then
		echo "Unable to find AGE information in the environment, please make sure you load AGE key to decrypt secrets. Try using the 'age' cli included in the environment.";
	else
    while read -r file; do
      rm -rf "$file";
      echo "decrypting $file.age as $file, it should be ignored by .gitignore, but please be careful not to commit the decrypted file.";
      echo "$AGE_SECRET_KEY" | age -d -i - -o "$file" "$file.age"
    done <secret_file_list.txt
  fi
	if [ -z "$(env | grep 'AWS')" ]; then
		echo "Unable to find AWS authentication information in the environment, please make sure you authenticate with AWS. Try using the 'aws' cli included in the environment.";
	fi
	if [ -z "$(env | grep 'GITHUB_TOKEN')" ]; then
		echo "Unable to find GITHUB authentication information in the environment, please make sure you authenticate with GITHUB. Try using the 'gh' cli included in the environment.";
	fi
fi
